apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/fluxcd/source-controller/config/default?ref=2eb5a81a22b414215f25d7981fd3ab7b078ad6ca # v1.7.4
- serviceaccount.yaml
- networkpolicy.yaml

labels:
- pairs:
    app.kubernetes.io/component: source-controller
  includeSelectors: true

images:
- name: fluxcd/source-controller
  newName: ghcr.io/fluxcd/source-controller

patches:
- path: patches/delete_namespace.yaml
- path: patches/use_serviceaccount.yaml
- path: patches/set_resources_limits_requests.yaml
